<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84152120133-kt5u0r8n1c1ddqra09snqlv0am6v6mjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84152120133-kt5u0r8n1c1ddqra09snqlv0am6v6mjr</string>
	<key>API_KEY</key>
	<string>AIzaSyDgQY9E8zjoE8HUv4Uxv4d0OnH4-6f_koY</string>
	<key>GCM_SENDER_ID</key>
	<string>84152120133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KimlengHor.SurveyBox</string>
	<key>PROJECT_ID</key>
	<string>surveybox-1d9e5</string>
	<key>STORAGE_BUCKET</key>
	<string>surveybox-1d9e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84152120133:ios:fcedbc7c0a08176f46842c</string>
	<key>DATABASE_URL</key>
	<string>https://surveybox-1d9e5.firebaseio.com</string>
</dict>
</plist>